body {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
}
form {
  width: 30%;
  padding: 0px 40px 20px 40px;
  box-sizing: border-box;
  border: 2px solid rgb(212, 208, 208);
  margin-top: 20px;
}
img,
input,
a,
button {
  display: block;
}

img {
  width: 60%;
  height: 150px;
  margin: auto;
}

input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid rgb(222, 217, 217);
}
button {
  width: 100%;
  height: 30px;
  color: white;
  background-color: rgb(127, 179, 244);
  border-radius: 5px;
  margin-top: 20px;
  border: none;
}
hr {
  margin-top: 40px;
}
a {
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

h4 {
  position: absolute;
  top: -100%;
  left: 46%;
  background-color: white;
  padding: 0px 10px;
}

#or-cont {
  position: relative;
  height: 30px;
}
